* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-container {
    background-color: #232F3E;
    height: 110px;
    position: fixed; 
    top: 0; 
    width: 100%;
}
.home-logo {
    height: 128px;
    display: flex;
    align-items: center;
    margin-left: 43px;
}
.home-logo img {
    width: 209px;
    height: 88px;
}

.select-all-container {
    width: 1244px;
    height: 67px;
    margin: 0 auto;
    margin-top: 150px;border-bottom: 1px solid black;
    height: 50px;
}

.select-all-container p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}
.address-container {
    margin: 0 auto;
    width: 1244px;
    height: 67px;
}
.address-container p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.address-container textarea {
    font-family: 'Poppins', sans-serif;
    padding: 4px 4px;
    border: 1px solid #A9A5A5;
    border-radius: 5px;
}

.custom-select {
    position: relative;
    font-family: Arial;
}

.selection-container {
    margin: 0 auto;
    width: 1244px;
    margin-top: 120px;
    display: flex;
}
.form-select {
    width: 150px;
}

.courier-container p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


.courier-container option {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.voucher-container {
    margin-left: 60px;
    margin-right: 60px;
}
.voucher-container p  {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.voucher-container input {
    height: 37px;
    border-radius: 4px;
    border: 1px solid #A9A5A5;
}

.item-container {
    margin: 0 auto;
    width: 1244px;
}
.item-container p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 25px;
}

.select-item-container {
    width: 1244px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.select-store {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-top: 20px;
}

.store-label {
    display: flex;
    align-items: center;
}

.store-label span {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px ;
    margin-left: 11px;
}

.select-store input {
    margin-top: 5px;
}

.store-label img {
    margin-left: 50px;
    width: 10px;
}

#logo {
    width: 20px;
    height: 20px;
}

.qty-button button {
    background-color: white;
    font-size: 37px;
    border: none;
}

.qty-button span {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px ;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #737373 ;
    padding: 1px 8px;
}
.qty-button .minus {
    margin-bottom: 10px;
    font-size: 45px ;
}

.qty-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-container {
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.item-container img {
    width: 140px;
    height: 140px;
}

.item-info {
    margin-left: 20px;
    width: 1000px;
}

.item-info .title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px ;
    color: #737373;
}

.item-info .price {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px ;
}

.item-info .delete {
    margin-left: 700px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    border-radius: 5px;
}

.item-info .delete span {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-left: 20px;
    font-size: 17px;
}

.item-info .delete span:hover {
    background-color: red;
    color: white;
    border-radius: 5px;
    width: 70px;
    cursor: pointer;
}

.delete img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    color: red;
}

.barang-container {
    margin-top: 20px;
}
.barang-container p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 1244px;
    margin: 0 auto;
}

.qty-items span {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

footer {
    background-color: #CED2D5;
    height: 200px;
}

.navbar-bottom-container {
    display: flex;
    background-color: white;
    border-top: 1px solid #737373;
    height: 120px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content {
    margin-top: 20px;
    height: 70px;
    width: 300px;
    margin-left: 130px;
   
}
.content span {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px ;
    color: #737373;
}

.content .price-total {
    font-weight: 600;
    color: #737373;
    margin-left: 72px;

}


.button-checkout-container p {
    background-color: #232F3E;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    width: 180px;
    height: 40px;
    padding-top: 5px;
    padding-left: 60px;
    border-radius: 7px;
    cursor: pointer;
    
}

.button-checkout-container p:hover {
    background-color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #232F3E;
    width: 180px;
    height: 40px;
    padding-top: 5px;
    padding-left: 60px;
    border-radius: 7px;
    border: 1px solid #232F3E;
    transition: 0.15s;
    
}

.sum-price .tagihan {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: black;
}

.sum-price .total-tagihan {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #C92400;
    margin-left: 30px;
}

.content .price-ongkir {
    font-weight: 600;
    color: #737373;
    margin-left: 20px;
}
.button-checkout-container {
    margin-top: 45px;
    width: 150px;
    margin-left: 800px;
    
}